.article {
    max-width: 980px;
    margin: 0 auto;
    padding: 5px 10px;
    margin-top: 43px;
}

.article .title {
    font-size: 46px;
    line-height: 55px;
    font-weight: 700;
    color: rgba(34, 34, 34);
    padding: 5px 0px;
    margin-bottom: 15px;
}

.article p,
.article ul {
    margin-bottom: 22px;
    line-height: 33px;
    font-size: 22px;
}

.article img {
    max-width: 100%;
}

.article ul {
    list-style-type: disc;
    padding-left: 25px;
}
